.head {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    /* border-radius: 0px 0px 5px 5px; */
}

.container_head {
    max-width: 1192px;
    margin: 0 auto;
}

.blog_social {
    text-align: right;
    height: 25px;
    border-bottom: 1px solid #f2f3f4;
}

.blog_social > a {
    color: black;
    padding: 6px;
    text-decoration: none;
}

.blog_social > a:hover {
    text-decoration: none;
    color: #808b96;
}

.nav-link {
    color: black !important;
    transition: color 300ms linear;
}

.nav-link:hover {
    color: #808b96 !important;
    transition: color 300ms linear;
}

.active {
    color: blue !important;
}
