.head {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    /* border-radius: 0px 0px 5px 5px; */
}

.container_head {
    max-width: 1192px;
    margin: 0 auto;
}

.blog_social {
    height: 40px;
    border-bottom: 1px solid #f2f3f4;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.blog_social > .social_bar {
    margin: 6px;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    white-space: nowrap;
}

.social_bar > a > img {
    margin-right: 6px;
    max-height: 18px;
}

.social_bar > a > img:hover {
    transform: scale(1.2);
    transition: transform 200ms linear;
}

.nav-link {
    color: black !important;
    transition: color 300ms linear;
}

.nav-link:hover {
    color: #808b96 !important;
    transition: color 300ms linear;
}

.active {
    color: blue !important;
}
